declare @days int
set @days = 5

SELECT(
(SELECT 100.0*COUNT(DaysOff) as Loan FROM
(SELECT PAYMENT.DEBT_ID, Sum(PAYMENT.CURRENTDELAY_WAS) as DaysOff
	FROM PAYMENT
	GROUP BY PAYMENT.DEBT_ID
	HAVING (((Sum(PAYMENT.CURRENTDELAY_WAS))>0 And (Sum(PAYMENT.CURRENTDELAY_WAS))<=@days))) AS Table1)
/
(SELECT COUNT(DISTINCT PAYMENT.DEBT_ID) as TotalLoan FROM PAYMENT)
) as BR 



